<!--contactName: string;-->
<!--companyName: string;-->
<!--address: string;-->
<!--telephoneNumber: number;-->
<!--faxNo: number;-->
<!--mobileNumber: number;-->
<!--website: string;-->
<!--date: Date;-->
<!--contractorName: string;-->
<!--startDateOfContract: string;-->
<!--startDateOfPO: string;-->
<!--contractWorkingDays: number;-->
<!--POWorkingDays: number;-->
<!--dailyCostToLIT: number;-->
<!--workingHoursPerDay: number;-->
<!--results;-->
<!--projectName: string;-->
<!--SDLName: string;-->

<div>
  <h3>Contract Name: {{contactName}}</h3>
  <h3>Company Name: {{companyName}}</h3>
  <h3>Address: {{address}}</h3>
  <h3>Telephone number: {{telephoneNumber}}</h3>
  <h3>Mobile number: {{mobileNumber}}</h3>
  <h3>Email: {{email}}</h3>
  <h3>Website: {{website}}</h3>
  <h3>Date: {{date}}</h3>
  <h3>Contractor name: {{contractorName}}</h3>
  <h3>Start Date of Contract: {{startDateOfContract}}</h3>
  <h3>Start Date of PO: {{startDateOfPO}}</h3>
  <h3>Contract Working Days: {{contractWorkingDays}}</h3>
  <h3>PO Working Days: {{POWorkingDays}}</h3>
  <h3>Daily Cost to LIT: {{dailyCostToLIT}}</h3>
  <h3>Working Hours per Day: {{workingHoursPerDay}}</h3>
  <h3>Project name: {{projectName}}</h3>
  <h3>SDL Name: {{SDLName}}</h3>

</div>
