img {

  height: 350px;
  width: 300px;
}
.imgFeature {
  min-height: 350px;
  max-width:300px;
  height:375px;
  width: 300px;
  padding:0;
}
.centered {
  border-radius: 5px;
  padding:15px 70px;
  /*background-color: whitesmoke;*/
  position: absolute;
  background-color: rgba(255,255,255,.85);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
  color: black ;
  font-weight: bold;
}
