<div class="infoMsg">
  <h2>Welcome to the purchase orders app</h2>
  <p>
    This is where you can complete all your purchase orders.
  </p>
</div>
<div class="row rowtest">

  <div class = "col">
    <a type="button" class = "btn imgFeature" routerLink = "/travel"><div class="container imgFeature">
      <img class="imgFeature" src="{{imgTravel}}">
      <div class="centered">Travel</div>
    </div></a>
  </div>

  <div class = "col">
    <a type="button" class = "btn imgFeature" routerLink = "/training"><div class="container imgFeature">
      <img class="imgFeature" src="{{imgTraining}}">
      <div class="centered">Training</div>
    </div></a>
  </div>

  <div class = "col">
    <a class="btn imgFeature"  routerLink = "/contractor"><div class="container imgFeature">
      <img class="imgFeature" src="{{imgContractors}}"><div class="centered"> Contractor </div>
  </div></a>
  </div>

  <div class = "col">
    <a class = "btn imgFeature" routerLink = "/purchaseOrders"><div class="container imgFeature">
      <img class="imgFeature" src="{{imgPO}}"><div class="centered"> Purchase Order </div>
  </div></a>
  </div>

  <div class = "col">
    <a class = "btn imgFeature" routerLink = "/archive"><div class="container imgFeature">
      <img class="imgFeature" src="{{imgArchive}}"><div class="centered"> Archive </div></div></a>
  </div>
</div>

