<td *ngIf="history.status == 'PENDING'">0</td>
<td *ngIf="history.status == 'PENDING'">{{history.formType}}</td>
<td *ngIf="history.status == 'PENDING'">{{history.subAccount}}</td>
<td *ngIf="history.status == 'PENDING'">{{history.desc}}</td>
<td *ngIf="history.status == 'PENDING'">{{history.date}}</td>
<td *ngIf="history.status == 'PENDING'">
  <button class="btn btn-sm btn-primary"><!--(click)="selectedDraft()"--> Approve</button></td>
<td *ngIf="history.status == 'PENDING'">
  <button class="btn btn-sm btn-primary"><!--(click)="selectedDraft()"--> Deny</button></td>

