.nav {
  background-color: #FDF737;
  min-height: 60px;
}

.dropDownMenu {
  position: fixed;
  left: 94%;
  top: 2.7%;
  z-index:1;
}

.options {
  background-color: white;
}

h3 {
  font-size: 230%;
}

.container {
  text-align: center;
  /*align: center;*/
  position: relative;
  right: 5%;
}
.logo {
  min-height: 100%;
  max-width:50%;
  height:130%;
  width: 110%;
  padding:0;
  position: relative;
  bottom: 20%;
  left: 10%;
}

