<div class="nav">
  <a href="#">
    <img class="logo" src="{{imgLogo}}"  />
  </a>

  <div class="container titleStyle" ><h2>{{pageName}}</h2>
  </div>


  <div  class="dropDownMenu">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
      <div class="options" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="/travel">Travel </button>
        <button ngbDropdownItem routerLink="/purchaseOrders">Purchase Orders</button>
        <button ngbDropdownItem routerLink="/training">Training</button>
        <button ngbDropdownItem routerLink="/contractor">Contractors</button>
        <button ngbDropdownItem routerLink="/archive">Archive</button>
      </div>
    </div>
  </div>
  </div>
</div>
