<div class="nav">
  <a routerLink = "/welcome">
    <img class="logo" src="{{imgLogo}}"  />
  </a>

  <div class="container titleStyle" ><h2>{{pageName}}</h2>
  </div>


  <div  class="dropDownMenu">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
      <div class="options" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="/welcome" (click) = "updateNameToWelcome()">Home</button>
        <button ngbDropdownItem routerLink="/travel" (click) = "updateNameToTravel()">Travel </button>
        <button ngbDropdownItem routerLink="/purchaseOrders" (click) = "updateNameToPO()">Purchase Orders</button>
        <button ngbDropdownItem routerLink="/training" (click) = "updateNameToTraining()">Training</button>
        <button ngbDropdownItem routerLink="/contractor" (click) = "updateNameToContractor()">Contractors</button>
        <button ngbDropdownItem routerLink="/archive" (click) = "updateNameToArchive()">Archive</button>
        <button ngbDropdownItem routerLink="/admin" (click) = "updateNameToAdmin()">Admin</button>

      </div>
    </div>
  </div>
  </div>
</div>
