<h2>
 Travel Overview

</h2>

Travel Information<br><br>
Unitname: {{unitname}}<br>
SDL: {{SDL}}<br>
Number of Passengers:{{numberofpassengers}}<br>
Payment Method:{{paymentmethod}}<br>
Sub Account:{{subaccount}}<br>
Reason for Travel:{{reasonfortravel}}<br>
Credit Card:{{creditcard}}<br><br>

Hotel Information<br><br>
Hotel Name: {{hotelname}}<br>
Hotel Cost: {{cost}}<br>
Arrival Date: {{arrivaldate}}<br>
Departure Date: {{departuredate}}<br>
Enterprise Car: {{enterprisecar}}<br>
Car: {{car}}<br>
Pickup Date: {{pickupdate}}<br>
Drop Date: {{dropdate}}<br>
Return To: {{returnto}}<br>
Cost per Day: {{costperday}}<br><br>

Flight Information<br><br>

Departure Airport:{{departureairport}}<br>
Arrival Airport: {{arrivalairport}}<br>
Departure Date:{{departuredateflight}}<br>
Arrival Date:{{arrivaldateflight}}<br>
Cost of Flight:{{costflight}}<br>
Least Expensive:{{leastExpensive}}<br>
Explanation:{{explanation}}<br>


<br><br>
<button type="button" routerLink = "/welcome"> Complete Form </button>
