<h1>Purchase Order Summary</h1>
<aside>
  <b>
    <p><b>Supplier name: </b> {{supplierName}}</p>
    <p><b>Item name: </b> {{itemName}}</p>
    <p><b>Quantity: </b> {{quantity}}</p>
    <p><b>Date: </b> {{date}}</p>
    <p><b>Currency: </b> {{currency}}</p>
    <p><b>Price: </b> {{unitPrice}}</p>
    <p><b>Company Credit Card Used: </b> {{companyCreditCardUsed}}</p>
    <p><b>Contact Name:</b>{{contactName}}</p>
    <p><b>Address:</b>{{address}}</p>
    <p><b>Email:</b>{{email}}</p>
    <p><b>Telephone number: </b>{{telephoneNum}}</p>
    <p><b>Fax number: </b>{{faxNum}}</p>
    <p><b>Mobile number: </b>{{mobileNum}}</p>
  </b>
</aside>
<div class = "row row1">
  <div class = "col col1">
    <app-previous-button></app-previous-button>
  </div>

</div>

