<hr/>
<h2>Use the form below to update input your flight details</h2>


<form [formGroup]="flightForm" (ngSubmit)="updateFlight()">

  <fieldset>
    <label>Departure Airport:</label>
    <br>
    <input type="text" formControlName="departureairport">
    <span class="error-msg"
          *ngIf="flightForm.controls.departureairport.errors">
            The Departure Airport is Required
        </span>
  </fieldset>
  <br>

  <fieldset>
    <label>Arrival Airport:</label>
    <br>
    <input type="text" formControlName="arrivalairport">
    <span class="error-msg"
          *ngIf="flightForm.controls.arrivalairport.errors">
            The Arrival Airport is Required
        </span>
  </fieldset>
  <br>

  <fieldset>
    <label>Departure Date:</label>
    <br>
    <input type="Date" formControlName="Departure Date">
    <span class="error-msg"
          *ngIf="flightForm.controls.departuredate.errors">
            Please enter the date in DD/MM/YY format
        </span>
  </fieldset>
  <br>

  <fieldset>
    <label>Arrival Date:</label>
    <br>
    <input type="Date" formControlName="Arrival Date">
    <span class="error-msg"
          *ngIf="flightForm.controls.arrivaldate.errors">
            Please enter the date in DD/MM/YY format
        </span>
  </fieldset>
  <br>

  <fieldset>
    <label>Cost:</label>
    <br>
    <input type="number" formControlName="Cost">
    <span class="error-msg"
          *ngIf="flightForm.controls.cost.errors">
            Please enter the cost
        </span>
  </fieldset>
  <br>

  <fieldset>
    <label>Is this the least expensive option?:</label>
    <br>
    <select formControlName="leastexpensive">
      <option *ngFor="let type of leastExpensive" [value]="type.value">{{type.name}}</option>
    </select>
    <span class="error-msg"
          *ngIf="flightForm.controls.leastexpensive.errors">
            Please select an option
        </span>
  </fieldset>
  <br>

  <fieldset>
    <label>Explanation:</label>
    <br>
    <input type="text" formControlName="explanation">
    <span class="error-msg"
          *ngIf="flightForm.controls.explanation.errors">
            Please give an explanation
        </span>
  </fieldset>
  <br>


  <fieldset>
    <input type="submit" [disabled]="!flightForm.valid" value="Update Flight"/>
  </fieldset>

</form>
