<h3>
Please Confirm Training Details
</h3>

<div class="companyDetails">
  <h4>
  Company Details
</h4>
Contact Name: {{contactName}} <br>
Company Name: {{companyName}} <br>
Address: {{address}} <br>
Email: {{email}} <br>
Telephone: {{telephoneNo}} <br>
Mobile No: {{mobileNo}} <br>
Website: {{website}} <br>
</div>
<div class="courseDetails">
<h4>
  Course Details
</h4>
Course Name: {{courseName}} <br>
Start Date: {{startDate}} <br>
End Date: {{endDate}} <br>
  Location: {{location}} <br>
<div *ngIf="hotelFee > 0" >
  Hotel Fee: {{hotelFee}} <br>
</div>
Delegates: {{delegates}} <br>
Unit Cost: {{unitCost}} <br>
Total Cost: {{totalCost}} <br>
</div>
<div class="paymentDetails">
  <h4>
  Payment Details
</h4>
Company Credit Card: {{creditCard}} <br>
Sub Account: {{subAccount}} <br>
Delegates Charged to Card: {{delegatesPaid}} <br>
</div>
  <button type="button" class = "btn btn-success" (click)="postData()" routerLink = "/welcome">Submit</button>
