/*body {*/
/*  color: black;*/
/*  margin-top: 100px;*/
/*  margin-bottom: 250px;*/
/*  margin-right: 250px;*/
/*  margin-left: 250px;*/
/*  font-size: 20pt;*/
/*  font-family: ital;*/

/*}*/
button{
  font-size: 30px;
}
input
{
  border-width: 5px;
  border-color: #e6e6e6;
}
/*app-previous-button*/
/*{*/
/*  font-size: 60px;*/
/*  margin-right: 700px;*/
/*  margin-bottom: 200px;*/
/*}*/
form{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 250px;
  margin-left: 250px;
  font-size: 22pt;
  font-family: ital;
  padding: 50px 75px;
  border-width: 20px;
  border-style: solid;
  border-radius: 40px;
  border-color: rgb(93,157,186);
}

h2{
  color: blue;
}
.a{
  background-color:yellow;
}
h1{
  font-family: ital;
  text-align:center;
}

.border{

  color: black;
  margin-top: 100px;
  margin-bottom: 250px;
  margin-right: 250px;
  margin-left: 250px;
  font-size: 22pt;
  font-family: ital;
  padding: 50px 75px;
  border-color: rgb(93,157,186);
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;

}

button.previousButton{
  background-color:red;
}

button.continueButton{
  background-color:green;
}
