fieldset {
  border: solid black;
  margin-left: 2em;
  padding-left: 2em;
  width: 60%;
}

button {
  background-color:cornflowerblue;
  border: gray();
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}
app-next-button{
  text-align: right;
}

app-previous-button{
  text-align: left;

}

input
{
  border-width: 5px;
  border-color: #e6e6e6;
}
form{
  border-color: yellow;
  border-color: yellow;
  color: black;
  margin-top: 100px;
  margin-bottom: 250px;
  margin-right: 250px;
  margin-left: 250px;
  font-size: 22pt;
  font-family: ital;
  padding: 50px 75px;
  border-color: rgb(93,157,186);
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.infoMsg{
  background: rgb(17,12,103);
  background: linear-gradient(191deg, rgba(17,12,103,1) 0%, rgba(67,67,148,1) 47%, rgba(16,33,51,1) 100%);
  border-radius:20px;
  text-align: center;
  color:whitesmoke;
  padding: 5px;
  margin: 15px 150px;
  border-style:solid;
  border-color: #FDF737;
  border-width: 1px;
}

h2{
  color: white;
}
.a{
  background-color:yellow;
}
h1{
  font-family: ital;
  text-align:center;
}

.border{


  margin-top: 100px;
  margin-bottom: 250px;
  margin-right: 250px;
  margin-left: 250px;

}

button.btn{
  background-color: green;
  margin-left: 700px;
  margin-bottom: 200px;
}
