fieldset {
  border: solid black;
  margin-left: 2em;
  padding-left: 2em;
  width: 60%;
}

button {
  background-color:cornflowerblue;
  border: gray();
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}
app-next-button{
  text-align: right;
}

app-previous-button{
  text-align: left;

}
