<html>

<style>
  button {
    background-color:cornflowerblue;
    border: gray();
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
  }
</style>

<h2>
  Welcome to the travel page
</h2>
<body>
<form>
  <div>
  <fieldset>
    <legend>Employee Information</legend>

    Unit Name:
    <br><input type="text"><br>
    <br>

    SDL:
    <br><input type="text"><br>
    <br>

    Number of Passengers:
    <br><select>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
    <option value="6">Six</option>
    <option value="7">Seven</option>
    <option value="8">Eight</option>
    <option value="9">Nine</option>
    <option value="10">Ten</option>
    </select>
    <br>
    <br>

    Payment Method:
    <br><select>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    </select>
    <br>
    <br>

    Sub-Account:
    <br><select>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    </select>
    <br>
    <br>

    Reason for Travel:
    <br><select>
    <option value="1">Business</option>
    <option value="2">Training</option>
    <option value="3">Lead Training</option>
    <option value="1">Conference</option>
    <option value="2">Secondment</option>
    <option value="3">Other</option>
    </select>
    <br>
    <br>

    Company Credit Card Name:
    <br><input type="text"><br>
    <br>


    <div class = "container">
      <button class = "btn" routerLink = "/flightdetails"> Continue </button>
    </div>



  </fieldset>
  </div>
</form>
</body>
</html>
