input
{
  border-width: 5px;
  border-color: #e6e6e6;
}
form{
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 20pt;
  font-family: ital;
  padding: 50px 75px;
  border-color: rgb(93,157,186);
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}
h2{
  color: blue;
}

h1{
  font-family: ital;
  text-align:center;
}

.border{

  margin-top: 100px;
  margin-bottom: 250px;
  margin-right: 250px;
  margin-left: 250px;

}

button.btn{
  background-color: green;
  margin-left: 700px;
  margin-bottom: 200px;
}
