<h2>
  Welcome to the training page.
</h2>
<h3>
  Company Details
</h3>
<body>
<form>
  Contact Name:<br>
  <input type="text" name="contactName"><br>
  Company Name:<br>
  <input type="text" name="companyName"><br>
  Address:<br>
  <input type="text" name="address"><br>
  Email:<br>
  <input type="email" name="email" placeholder="name@example.com"><br>
  Telephone No:<br>
  <input type="text" name="telephoneNo"><br>
  Mobile No:<br>
  <input type="text" name="mobileNo"><br>
  Website:<br>
  <input type="text" name="website"><br>


  <button class = "btn" routerLink = "/trainingCourseDetails"> Continue </button>

</form>
</body>
