
<h1>
  Company Details
</h1>
<div class="border">
<form>
  <div class="row">
    <div class="col">
  Contact Name:<br>
  <input type="text" name="contactName" [(ngModel)]="contactName"><br>
    </div>
    <div class="col">
      Telephone No:<br>
      <input type="text" class="numberField" name="telephoneNo" [(ngModel)]="telephoneNo"><br>
    </div>
  </div>
    <div class="row">
      <div class="col">
  Company Name:<br>
  <input type="text" name="companyName" [(ngModel)]="companyName"><br>
      </div>
      <div class="col">
        Mobile No:<br>
        <input type="text" class="numberField" name="mobileNo" [(ngModel)]="mobileNo"><br>
    </div>
    </div>
      <div class="row">
        <div class="col">
  Address:<br>
  <input type="text" name="address" [(ngModel)]="address"><br>
        </div>
        <div class="col">
          Website:<br>
          <input type="text" name="website" [(ngModel)]="website"><br>
        </div>
      </div>
        <div class="row">
          <div class="col">
  Email:<br>
  <input type="email" name="email" placeholder="name@example.com" [(ngModel)]="email"><br>
  </div>
        </div>


</form>
</div>

<div class = "row row1">
  <div class = "col col2">
<app-previous-button></app-previous-button>
  </div>

<div class="col col2">
  <button type="button" class="btn btn-success" (click)="saveContactDetails()" routerLink = "/trainingCourseDetails">Continue</button>
</div>
</div>

