@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

.bodyMain {
  padding-top: 100px;
  margin:auto;
  max-width:90%;

}
.infoMsg{
  background: rgb(17,12,103);
  background: linear-gradient(191deg, rgba(17,12,103,1) 0%, rgba(67,67,148,1) 47%, rgba(16,33,51,1) 100%);
  border-radius:20px;
  text-align: center;
  color:whitesmoke;
  padding: 5px;
  margin: 15px 150px;
  border-style:solid;
  border-color: #FDF737;
  border-width: 1px;
}

.titleStyle{
  font-size: 230%;
  font-weight: bold;
  text-align: center;
  display:inline-block;
}

button.btn{
  background-color: green;
  margin-left: 700px;
  margin-bottom: 200px;
}

.row1{

}
