<h3>
  Course Details<br>
</h3>
<body>
<form>
  Course Name:<br>
  <input type="text" name="courseName"><br>
    <div class="row">
      <div class="col">
        Start Date<br>
        <input type="date" id="courseStartDate"
               placeholder="yyyy-MM-dd" min="2019-01-01" max="2020-12-31" required />
        <div role="alert">
        </div>
      </div>
      <div class="col">
        End Date:<br>
        <input type="date" id="courseEndDate"
               placeholder="yyyy-MM-dd" min="2019-01-01" max="2020-12-31" required />
        <div role="alert">
          <div class="note">
            *if applicable
          </div>

        </div>
      </div>
    </div>
  Location:<br>
  <input type="text" name="courseLocation"><br>

  Hotel Included in Booking Fee? <br>
  <input type="button" class='hotelButton' id="yesButton" (click)="toggleHotelIncluded()">Yes
  <input type="button" class='hotelButton' id="noButton" (click)="toggleHotelIncluded()">No<br>
  <br>
  <div *ngIf="!hotelIncluded">
    Hotel Cost:
    <br><input type="number" name="hotelCost" min="0" placeholder="0.00"><br>
    <br>
  </div>

  Delegates:<br>
  <input type="number" name="courseDelegates" min="0" placeholder="0" step="1"><br>
  Unit Cost:<br>
  <input type="number" name="courseDelegates" min="0" placeholder="0.00"><br>
  Total Cost:<br>
  <input type="number" name="courseCost" min="0" placeholder="0.00"><br>

  <br>
  <button class = "btn" routerLink = "/trainingPaymentDetails"> Continue </button>

</form>
</body>
